@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.card-container {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 1vh
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5vw;
    border-radius: 5px;
    position: relative;
}

.plus {
    background-color: transparent;
    font-weight: 700;
    border-radius: 50%;
    border: none;
    font-size: 200%;
    cursor: pointer;
    outline: none;
}

.card input {
    outline: none;
    padding: 3px;
    margin: 3px 0.4rem;
    font-size: 140%;
}

.closeButton {
    font-size: 100%;
    opacity: 100%;
    transition-duration: 1s;
    margin: none;
    position: absolute;
    top: 3px;
    right: 10px;
    outline: none;

}

.card:hover>.closeButton {
    opacity: 100%;
}

.submitButton {
    margin-top: 2vh;
    width: 10rem;
    outline: none;
    border: 2px black solid;
    border-radius: 10rem;
    font-weight: 700;
    font-size: 130%;
    letter-spacing: 0.15rem;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.7s;
    padding: 0.2rem;
}

.calculateYInput {
    margin-top: 2vh;
    width: 13rem;
    outline: none;
    border: 2px black solid;
    border-radius: 10rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    font-size: 100%;
    background-color: #ffffff;
    transition: 0.7s;
    text-align: center;
    padding: 0.4rem;
}

.calculateYInput::placeholder {
    font-size: 80%;
}

.submitButton:hover {
    background-color: #dddddd;
}

.results {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
}

.graph {
    text-align: center;
    margin-top: 10vh;
}

.graph a {
    outline: none;
    font-size: 120%;
    color: black;
    font-weight: 700;
    letter-spacing: 0.05rem;
}

.results img {
    margin-top: 2rem;
}